{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "55"
      },
      "useBuiltIns": "usage",
      "corejs": 3
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}
