.wrapper {
    margin: 10px 2px;
    display: flex;
    background: #ccc;
}

.header {
    display: flex;
}

.column {
    position: relative;
    display: inline-block;
    width: 12px;
    border: none;
    height: 20px;
    margin: auto 1px;
}

.bar {
    background: #66CCFF;
    position: absolute;
    bottom: 0px;
    width: 12px;
    border: none;
}

.limitBadge {
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 10px;
  color: white !important;
  background-color: #1b855c;
}


.loader {
  display: block !important;
  margin: 0;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  /*border-top: 2px solid mix(white,black,80%);*/
  /*border-right: 2px solid mix(white,black,80%);*/
  /*border-bottom: 2px solid mix(white,black,80%);*/
  border-left: 2px solid #344563;
  -webkit-animation: load8 .5s infinite linear;
  animation: load8 .5s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width:17px;
  height: 17px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.limitBadge__hint {
  visibility: hidden;
  position: absolute;
  padding: 2px 3px;
  margin-left: -171px;
  margin-top: -10px;
  width: 130px;
  transition: 0s visibility;
  cursor: pointer;
}

.limitBadge:hover .limitBadge__hint {
  visibility: visible;
  display: inline;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
  z-index: 100000;
  transition-delay: 200ms;
}
