.tooltip {
  position: absolute;
  background: white;
  visibility: hidden;
}

.tooltipButtonsWrp {
  display: flex;
  justify-content: space-between;
}

.tooltipButtonsWrp button~button {
  margin-left: 0 !important;
}

.tooltipResult {
  flex: 0.7;
  background: red;
}

.ghx-flags {
  border-radius: 2px 2px !important;
  background: yellow !important;
}