.limitColumnBadge {
  position: absolute;
  top: -24%;
  left: 4%;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 0 10px;
  color: white;
  background-color: #1b855c;
}

.limitColumnBadge__hint {
  visibility: hidden;
  position: absolute;
  padding: 2px 3px;
  margin-left: 8px;
  width: 130px;
  transition: 0s visibility;
  cursor: pointer;
}

.limitColumnBadge:hover .limitColumnBadge__hint {
  visibility: visible;
  display: inline;
  color: black;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
  z-index: 100000;
  transition-delay: 200ms;
}
