.addFieldLimitTable {
  width: 100%;
}

.jhControlRowBtn {
  margin-left: 0px !important;
  margin-bottom: 2px !important;
}

.editFieldLimitBtn {
  margin-top: 1rem !important;
}

.addFieldLimitBtn {
  margin-top: 1rem !important;
}

.settingsEditBtn {
  margin-top: 1rem !important;
}

.visualName {
  color: #ffffff;
  height: 32px;
  border-radius: 25%;
  background-color: #3366ff;
  text-align: center;
  width: 40px;
  font-size: 0.8rem;
  vertical-align: middle;
  line-height: 32px;
  overflow: hidden;
  cursor: pointer;
}