.addTeamLimitTable {
    width: 100%;
}

.addTeamLimitBtn {
    margin-top: 1rem !important;
}

.findTeam {
    margin-top: 2rem;
}

.findTeamsForProjects {
    margin: 1rem 0;
}

.teamLimitsHint {
    color: #5e6c84;
}

.settingsEditBtn {
    margin-top: 1rem;
}