.fieldLimitsList {
    display: inline-flex;
    position: static;
    border-left: 2px solid #f4f5f7;
    flex-wrap: wrap;
}

.fieldLimitsItem {
    margin-bottom: 2px;
    height: 25px;
    font-size: 0.8rem;
    line-height: 25px;
    margin-left: 4px;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: help;
    position: relative;
    background-color: #3366ff;
    padding-left: 3px;
    padding-right: 3px;
}

.limitStats {
    position: absolute;
    top: -10px;
    right: -6px;
    border-radius: 50%;
    background: grey;
    color: white;
    padding: 5px 2px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
