.fieldLimitsList {
    display: inline-flex;
    margin-left: 20px;
    position: absolute;
}

.fieldLimitsItem {
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: white;
}