/******** JIRA 7  ************/

/**TOP Menu **/

html.blure a.issue-link {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/* title in right panel */
html.blure .project-title a {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/* title in backlog */
html.blure .subnav-page-header {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

html.blure .scope-filter .aui-scope-filter-spectrum span{
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/** Backlog **/

/* link for issue key */
html.blure .js-key-link {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 10px !important;
}

html.blure a.external-link {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 10px !important;
}

html.blure .js-epic-key-link {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 10px !important;
}

/* backlog summory issue */
html.blure .ghx-summary:not(span),
html.blure .ghx-summary span {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/* backlog right panel for epic and version */
html.blure .js-epic-name span,
html.blure .js-version-name span {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/* epic label in baclog issue */
html.blure .ghx-row-version-epic-subtasks span {
  color: transparent !important;
  text-shadow: #fff -1px 1px 10px !important;
}

html.blure .ghx-extra-field-content {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

html.blure .ghx-extra-field-content h1,
html.blure .ghx-extra-field-content h2,
html.blure .ghx-extra-field-content h3,
html.blure .ghx-extra-field-content h4 {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

html.blure .project-shortcut span {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}


/*** Settings Board ***/
html.blure .ghx-jql-preview span.field-value {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

html.blure #ghx-show-projects-in-board > li > strong {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 10px !important;
}

/*** release issues **/

html.blure .avatar-with-name a{
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 10px !important;
}

html.blure a.issue-summary,
html.blure a.issue-key {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 10px !important;
}

/*** Board ***/

html.blure span[data-epickey] {
  color: transparent !important;
  text-shadow: #fff -1px 1px 10px !important;
}

/***Issu info panel***/
html.blure .ghx-project {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 8px !important;
}

html.blure #issuekey-val > a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .type-gh-epic-link a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .user-hover {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 8px !important;
}

html.blure .item .value {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .item .value a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure #summary-val {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .link-summary {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure a.link-title {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .user-content-block a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .user-content-block {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure #descriptionmodule img {
  filter: blur(5px) !important;
}

html.blure #descriptionmodule h1,
html.blure #descriptionmodule h2,
html.blure #descriptionmodule h3,
html.blure #descriptionmodule h4,
html.blure #descriptionmodule h5,
html.blure #descriptionmodule h6 {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .code-quote, .code-quote .code-keyword, .code-quote .code-object {
  color: transparent !important;
  text-shadow: #009100 -1px 1px 6px !important;
}

html.blure #commentmodule .action-body {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure #commentmodule .action-body a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

/*** View Issue ***/

html.blure #project-name-val {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .activity-new-val,
html.blure .activity-old-val{
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .activity-new-val a,
html.blure .activity-old-val a{
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .activity-comment {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .activity-comment a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .activity-item-summary{
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .activity-item-summary a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .activity-item-description {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .activity-item-description a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure .activity-item-description .user-content {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .user-content,
html.blure .user-content h1,
html.blure .user-content h2,
html.blure .user-content h3,
html.blure .user-content h4,
html.blure .user-content h5,
html.blure .user-content h6{
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .user-content a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

/**Control chart**/
html.blure div.aui-inline-dialog-contents.contents a {
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}

html.blure div.aui-inline-dialog-contents.contents span{
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

/****SEarch *****/
html.blure .issuerow td {
  color: transparent !important;
  text-shadow: #172b4d -1px 1px 6px !important;
}

html.blure .issuerow td a{
  color: transparent !important;
  text-shadow: #0052cc -1px 1px 8px !important;
}
